body,
html {
  background-image: linear-gradient(
      rgba(230, 180, 180, 0.7),
      rgba(105, 6, 6, 0.7)
    ),
    url("berlin.jpg");
  margin: 0px;
  width: 100%;
}
a:link {
  color: green;
}

.four:hover {
  background: red;
}

a:link {
  text-decoration: none;
}
.four {
  background-color: rgba(255, 0, 0, 0.5);
  width: 50%;
  height: 60px;
  margin: auto;
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
  border: 5px black solid;
  border-radius: 20px;
  color: white;
  font-family: cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}
#bava {
  margin-top: 15px;
}
.episode_button {
  background-color: rgba(255, 0, 0, 0.5);

  height: 60px;
  width: 40%;
  margin: auto;
  margin-bottom: 15px;
  font-size: 20px;
  text-align: center;
  border: 2px black solid;
  border-radius: 20px;
  color: white;
  font-family: cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}
.episode_button:hover {
  background-color: red;
}
