html,
body {
  margin: 0%;
  width: 100%;
  height: 100vh;
  display: flexbox;
  background-image: linear-gradient(
      rgba(230, 180, 180, 0.7),
      rgba(105, 6, 6, 0.7)
    ),
    url("cash.jpg");
}

video {
  margin-top: 5px;
  height: 94vh;
  width: 100%;
}
